.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #011ea0ff;
}
.nav {
  display: flex;
  list-style: none;
}
.link {
  display: flex;
  padding: 6px 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}
.link.active {
  background-color: #ff6b0a;
  border-radius: 20px;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.list {
  margin: 5px;
  margin-left: 30px;
  font-size: 19px;
  font-family: "Montserrat Alternates", sans-serif;
}

.list:hover {
  color: #ff6b0a;
}

.homeTitle {
  margin: 10px 0 0 28px;
  font-size: 30px;
  font-family: "Montserrat Alternates", sans-serif;
}
.btnHome {
  margin-left: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  height: 30px;
  font-size: 14px;
  background-color: #011ea0ff;
  color: #fff;
  border: 0px solid #ff6b0a;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}

.containerMD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.buttonMD {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.btnMD {
  border-radius: 20px;
  height: 30px;
  font-size: 14px;
  background-color: #011ea0ff;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  border: 0;
}
.boxMD {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  margin-left: 20px;
  border-radius: 20px;
}
.describeMD {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}
.listDescribe {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 900;
}
.titleMD {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 10px;
}
.rating {
  margin-top: 10px;
  font-weight: 900;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.linkMD {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031d33;
  border-radius: 20px;
  font-size: 18px;
  width: 100px;
  height: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}
.linkMD:hover {
  background-color: #ff6b0a;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.reviewsUser {
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}
.reviewsContent {
  margin: 0;
}
.cast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
  width: 100%;
  height: 100%;
}
.castTitles {
  margin: 0;
  margin-top: 5px;
}
.castTitlesP {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.castLi {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 200px;
  height: 400px;
}
.cast img {
  width: 200px;
  height: 300px;
  margin: 5px;
}
.inputSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 10px auto;
}
.input {
  border-radius: 20px;
  outline: none;
  border: 2px solid #031d33;
}
.input::placeholder {
  padding-left: 5px;
}
.btnSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031d33;
  border-radius: 20px;
  font-size: 12px;
  width: 65px;
  height: 25px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  color: #fff;
}
